@import "../../styling/variables";

nav.navbar {
    background: rgba($siteWhite, 0.95);

    img {
        height: 42px;
        width: auto;
        margin-right: 8px;
        margin-top: -3px;
    }
}