<div class="container component-padding">
    <h2>Projects</h2>

    <div class="btn-group my-4" role="group" aria-label="Tech List">
        <input type="checkbox" class="btn-check" name="btnradio" id="tech-list-all" autocomplete="off" [checked]="selectedTech == 'all'">
        <label class="btn btn-outline-secondary" for="tech-list-all" (click)="setSelectedTech($event, 'all')">All</label>
        
        <ng-container *ngFor="let tech of techsList">
            <input type="checkbox" class="btn-check" name="btnradio" [id]="'tech-list-' + tech" autocomplete="off" [checked]="selectedTech == tech">
            <label class="btn btn-outline-secondary" [for]="'tech-list-' + tech" (click)="setSelectedTech($event, tech)">{{tech}}</label>
        </ng-container>
    </div>

    <app-project *ngFor="let project of details.projects | projectContainsTech:selectedTech; let isLast=last" [(selectedTech)]="selectedTech" [selectedTechMethod]="setSelectedTech" [project]="project" [class.mb-4]="!isLast"></app-project>
</div>
