// Colors
$siteWhite: #fdfdfd;
$siteBlack: #030816;
$siteBlue: #61c7e0;
$siteDarkBlue: #10698f;

$theme-colors: (
    "primary": $siteBlue,
    "secondary": $siteDarkBlue,
    "light": $siteWhite,
    "dark": $siteBlack
);

$display-font-sizes: (
  1: 6rem,
  5: 1.5rem
);

$enable-rounded: false;
$font-family-base: "Lato", sans-serif;

$component-y-padding: 90px;
