<div class="row mt-4">
    <div class="col-12 col-lg-6"><img *ngIf="project.img" [src]="'../../assets/images/' + project.img" [alt]="project.title" class="mb-4 mb-lg-0"></div>
    <div class="col-12 col-lg-6">
        <div class="text-primary">
            <h3>{{project.title}}</h3>
            <p class="text-white"><small>{{project.getStartDateFormatted() + " - " + project.getEndDateFormatted()}}</small></p>
            <hr />
        </div>

        <p *ngFor="let p of project.description">{{p}}</p>

        <ng-container *ngIf="project.techStack.length > 0">
            <h4 class="pt-2">Tech Stack</h4>
            <div class="btn-group" role="group" aria-label="Tech Stack">
                <ng-container *ngFor="let tech of project.techStack">
                    <input type="checkbox" class="btn-check" [value]="project.title + '-' + tech" autocomplete="off">
                    <label class="btn btn-secondary" [for]="project.title + '-' + tech">{{tech}}</label>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>