// Colors
$siteWhite: #fdfdfd;
$siteBlack: #030816;
$siteBlue: #61c7e0;
$siteDarkBlue: #10698f;

$theme-colors: (
    "primary": $siteBlue,
    "secondary": $siteDarkBlue,
    "light": $siteWhite,
    "dark": $siteBlack
);

$enable-rounded: false;