@import "../../styling/variables";

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    $filteredBlack: rgba($siteBlack, 0.85);
    
    background: linear-gradient($filteredBlack, $filteredBlack), url("../../assets/images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: $siteWhite;
}