<div class="container">
    <h1 class="display-1">
        <span *ngFor="let title of details.title" [class]="title.color ? 'text-' + title.color : ''">{{title.text}}</span>
    </h1>

    <h1 class="display-5 my-4">{{details.subtitle}}</h1>
    <a href="#about-me" class="btn btn-outline-primary py-2 px-4" role="button">More About Me<i class="bi bi-chevron-right"></i></a>
</div>

<div class="position-absolute bottom-0 w-100">
    <div class="container mb-3 d-flex justify-content-between">
        <span class="text-start">
            {{"v" + version}}
        </span>
        <h3 class="text-end">
            <a *ngIf="contacts.email" [href]="'mailto:' + contacts.email" class="link-light"><i class="bi bi-envelope-fill"></i></a>
            <a *ngIf="contacts.linkedin" [href]="contacts.getLinkedinLink()" target="_blank" class="link-light ms-5"><i class="bi bi-linkedin"></i></a>
            <a *ngIf="contacts.github" [href]="contacts.getGithubLink()" target="_blank" class="link-light ms-5"><i class="bi bi-github"></i></a>
        </h3>
    </div>
</div>