<div class="container">
    <h1 class="display-1">
        Hi, I'm
        <br />
        <span class="text-primary">Chris Webb</span>
    </h1>

    <h4 class="my-4">I am a full-stack developer of software and web applications</h4>
    <a href="#about-me" class="btn btn-outline-primary py-2 px-4" role="button">Read More About Me<i class="bi bi-chevron-right"></i></a>
</div>

<div class="position-absolute bottom-0 w-100">
    <div class="container">
        <h3 class="text-end mb-4">
            <a href="mailto:webb.christopher@live.co.uk" class="link-light me-5"><i class="bi bi-envelope"></i></a>
            <a href="https://linkedin.com/in/webb-christopher" target="_blank" class="link-light me-5"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/ChrisWebbDeveloper" target="_blank" class="link-light"><i class="bi bi-github"></i></a>
        </h3>
    </div>
</div>