<div class="container" *ngIf="details">
    <h1 class="display-1">
        Hi, I'm
        <br />
        <span class="text-primary">{{details.name}}</span>
    </h1>

    <h1 class="display-5 my-4">{{details.blurb}}</h1>
    <a href="#about-me" class="btn btn-outline-primary py-2 px-4" role="button">More About Me<i class="bi bi-chevron-right"></i></a>
</div>

<div class="position-absolute bottom-0 w-100" *ngIf="contacts">
    <div class="container mb-3 d-flex justify-content-end">
        <p class="h3">
            <a *ngIf="contacts.email" [href]="'mailto:' + contacts.email" class="link-light" aria-label="Email"><i class="bi bi-envelope-fill"></i></a>
            <a *ngIf="contacts.linkedin" [href]="contacts.getLinkedinLink()" target="_blank" class="link-light ms-5" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
            <a *ngIf="contacts.github" [href]="contacts.getGithubLink()" target="_blank" class="link-light ms-5" aria-label="GitHub"><i class="bi bi-github"></i></a>
        </p>
    </div>
</div>